body{
  background-image: url('nutrition.jpg');
  background-repeat: no-repeat;
  background-size:cover; 
  z-index:-1; 
  
}

.container{
  display: flex;
  justify-content: center;
  }

h1{
  font-family: "Open Sans", sans-serif;
  font-size:30px;
  color:green
}

.search{
  padding: 20px;
  margin:10px;
  width:300px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  font-family: "Open Sans", sans-serif;
  border:none;
 }

 .box{
  display: flex;  
 }

